<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        họ tên: <input type="text" v-model="hoten"><br>
        <h2 v-if="hoten.length>0">Xin chào: {{hoten}}</h2>
        <button v-on:click="xemThongTin">Bấm nút</button>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var options ={
            el: "#app",
            data:{
                hoten:"" // hiển thị câu xin chào khi cố nội dung
            },
            methods:{
                //liệt kê danh sách các hàm viết trong này
                xemThongTin:function(){
                    // viết lệnh như js thường 
                    alert("chào "+this.hoten);
                }
            },
        }
        var app = new Vue(options);
    </script>
</body>
</html>